@charset "UTF-8";

/* réinitialisation des marges et bordures */
* {
    margin: 0;
    padding: 0;
}

body {
	font-size: 12px;
	font-family: Times, Georgia, sans-serif;
	background-color: white;
}

nav {
	display: block;
}

#left, #right, nav {
	display: none !important;
}

#PageAccueil, #Page02, #Page03 {
	background-color: white;
}

.header, .footer {
	font-style: italic;
	clear: both;
	color: white;
	font-size: 12px;
	text-align: center;
	padding: 10px; 
}

#content {
	display: block;
}

h1, h2 {
	margin: 20px;
	padding: 0;
	font-weight: normal;
	color: black;
}
h1 {
	text-align: center;
	font-size: 2.5em;
}

h2 {
	font-size: 1.5em;
	clear: both;
}

a, a:visited  {
    color: black !important;
}



img.droite, img.gauche {
	float: none;
	display: block;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	page-break-before:auto;
}

